$backround: #384959;
$primary: #88bdf2;
$secondary: #bdddfc;
$tertiary: #6a89a7;
$text-color: #042152;
$text-grey: #888;
$black: black;
$text-error: red;
$button-background: #0864ff;
$disabled-button-background: #78909c;
$white: #fff;
$overlay-background: rgba(40, 31, 15, 0.54);
$box-shadow: #5991cf61;
$border-color: #e1ebf7;